{% extends "default.html" %}
{% block body_class %}{% if page.page != 1 %} archive-template {% else %} home-template {% endif %}{% endblock %}
{% block body %}
{# The big featured header #}
<header class="main-header {%if site.cover %}" style="background-image: url({{ site.cover }}){% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if site.logo %}
        <a class="blog-logo" href="{{ site.url }}">
            <img src="{{ site.logo }}" alt="{{ site.title }}" />
        </a>
        {% endif %}
        {% if site.navigation %}
            <a class="menu-button icon-menu" href="#">
                <span class="word">Menu</span>
            </a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.title }}</h1>
            <h2 class="page-description">{{ site.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{# The main content area on the homepage #}
<main id="content" class="content" role="main">
    {% include "loop.html" %}
</main>
{% endblock %}
