{% extends "default.html" %}
{% block body %}

<header class="main-header tag-head {% if tag.image %}" style="background-image: url({{ tag.image }}){% else %}{% if site.cover %}" style="background-image: url({{ site.cover }}){% else %}no-cover{% endif %}{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if site.logo %}
        <a class="blog-logo" href="{{ site.url }}">
            <img src="{{ site.logo }}" alt="{{ site.title }}" />
        </a>
        {% endif %}
        {% if site.navigation %}
            <a class="menu-button" href="#"><i class="fa fa-bars"></i><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ tag.title }}</h1>
        </div>
    </div>
</header>

<main class="content" role="main">
    {% include "loop.html" %}
</main>

{% endblock %}
